<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Refaccionaria.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add
      name="Desarrollo"
      connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;
        data source=(local)\sqlexpress;
        Integrated Security=True;
        initial catalog=CrTest;
        user id=;
        password=;
        multipleactiveresultsets=True;
        App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"
    />
    <add
      name="Pruebas"
      connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;
        data source=192.168.1.1\Theos;
        initial catalog=ControlRefaccionariaTest;
        user id=0ZpCdNSnqBg=;
        password=WiY9qbHK6xFn33f/LU/9rw==;
        multipleactiveresultsets=True;
        App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"
    />
    <add
      name="Prod"
      connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;
        data source=192.168.1.1\Theos;
        Integrated Security=false;
        initial catalog=ControlRefaccionaria;
        user id=0ZpCdNSnqBg=;
        password=WiY9qbHK6xFn33f/LU/9rw==;
        multipleactiveresultsets=True;
        App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"
    />
  </connectionStrings>
  <applicationSettings>
    <Refaccionaria.App.Properties.Settings>
      <setting name="SucursalID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RutaImagenes" serializeAs="String">
        <value>C:\Theos\Img\</value>
      </setting>
      <setting name="Modo" serializeAs="String">
        <value>Pruebas</value>
      </setting>
    </Refaccionaria.App.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="CorteDePrueba" value="false" />
    <add key="VerNuevaVersion" value="false" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;Lib/WebKit"/>
    </assemblyBinding>
  </runtime>

</configuration>