<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Refaccionaria.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Desarrollo" connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;        data source=(local)\sqlexpress;&#xD;&#xA;        Integrated Security=True;&#xD;&#xA;        initial catalog=CrTest;&#xD;&#xA;        user id=;&#xD;&#xA;        password=;&#xD;&#xA;        multipleactiveresultsets=True;&#xD;&#xA;        App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Pruebas" connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;        data source=192.168.1.1\Theos;&#xD;&#xA;        initial catalog=ControlRefaccionariaTest3;&#xD;&#xA;        user id=0ZpCdNSnqBg=;&#xD;&#xA;        password=WiY9qbHK6xFn33f/LU/9rw==;&#xD;&#xA;        multipleactiveresultsets=True;&#xD;&#xA;        App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Prod" connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;        data source=192.168.1.1\Theos;&#xD;&#xA;        Integrated Security=false;&#xD;&#xA;        initial catalog=ControlRefaccionaria;&#xD;&#xA;        user id=0ZpCdNSnqBg=;&#xD;&#xA;        password=WiY9qbHK6xFn33f/LU/9rw==;&#xD;&#xA;        multipleactiveresultsets=True;&#xD;&#xA;        App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Refaccionaria.App.Properties.Settings>
      <setting name="SucursalID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RutaImagenes" serializeAs="String">
        <value>C:\Theos\Img\Partes\</value>
      </setting>
      <setting name="Modo" serializeAs="String">
        <value>Pruebas</value>
      </setting>
    </Refaccionaria.App.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="CorteDePrueba" value="false" />
    <add key="VerNuevaVersion" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;Lib/WebKit" />
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>