<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TheosWeb-20150707051250.mdf;Initial Catalog=aspnet-TheosWeb-20150707051250;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TheosProd" connectionString="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.1\Theos;Initial Catalog=ControlRefaccionaria;Integrated Security=True;User Id=sa;Password=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TheosPruebas" connectionString="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.1\Theos;Initial Catalog=ControlRefaccionariaTest;Integrated Security=True;User Id=sa;Password=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TheosDesarrollo" connectionString="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=D-PC\SqlExpress;Initial Catalog=CrTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Modo" value="Desarrollo"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, IdSesion" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
