<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturacionElectronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FacturacionElectronica.Properties.Settings>
            <setting name="FacturacionElectronica_Edicom_CFDiService" serializeAs="String">
                <value>https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi</value>
            </setting>
        </FacturacionElectronica.Properties.Settings>
    </applicationSettings>
</configuration>