<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation />
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheosWeb.Models.ApplicationDbContext, TheosWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheosDesarrollo" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=D-PC\SqlExpress;Initial Catalog=CrTest;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TheosDesarrollo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=D-PC\SqlExpress;Initial Catalog=CrTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TheosPruebas" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.1\Theos;Initial Catalog=ControlRefaccionariaTest;Integrated Security=True;User ID=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TheosPruebas_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.1\Theos;Initial Catalog=ControlRefaccionariaTest;Integrated Security=True;User Id=sa;Password=;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TheosProd" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.1\Theos;Initial Catalog=ControlRefaccionaria;Integrated Security=True;User ID=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TheosProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.1\Theos;Initial Catalog=ControlRefaccionaria;Integrated Security=True;User Id=sa;Password=;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheosDesarrollo-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheosProd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheosPruebas-Web.config Connection String" />
  </ItemGroup>
</Project>