/* -------------------------------------------------------------------------- */

.FondoComun {
	background-color: #3a4f6d;
}

.Centrado {
	left: 50%;
	margin-left: -25%;
	margin-top: -25%;
	position: absolute;
	top: 50%;
}

.BordeRedon5 {
	border: 1px solid;
	border-radius: 5px;
}

.Forma {
	background-color: #3a4f6d;
	border: 1px solid;
	border-radius: 5px;
	height: 25%;
	left: 50%;
	margin-left: -25%;
	margin-top: -12%;
	padding: 5px;
	position: absolute;
	top: 50%;
	width: 50%;
}

.no-top { top: 0px; }

span.Titulo {
	color: white;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 10px;
}

div.Pop {
	padding: 4px 2px;
	text-align: center;
}

body .boton {
	background-color: rgb(47, 63, 87);
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	font-weight: normal;
	padding: 2px 4px;
}
body .boton:hover {
	background-color: #55647A;
	color: white;
}

body .derecha {
	position: absolute;
	right: 10px;
}

/* -------------------------------------------------------------------------- */

.ui-page { background: transparent; color: white; }
.ui-content { background: transparent; }

/* -------------------------------------------------------------------------- */

* {
	margin: 0px;
	padding: 0px;
}

a {
	color: inherit;
	text-decoration: none;
}
ul { list-style: none; }
h4 { margin-bottom: 10px; }

body {
	background-attachment: scroll;
	background-color: #3a4f6d;
	background-image: url("../img/Fondo_AutopartesGaribaldi.png");
	background-position: center center;
	background-repeat: repeat-y;
	background-size: 100% 100%;
	color: white;
	/* font-size: 0.8em; */
	margin: auto;
	/* width: 1024px; */
}

table {
	background-color: rgb(188, 199, 216);
	color: black;
}
th, td { border: 1px solid gray; }
tbody tr:hover {
	background-color: #3399ff;
	color: white;
}

span.Error { color: red; }
div.Contenido { padding: 10px; }
div.Botones { height: 48px; }

#divPanel {
	background-color: #3a4f6d;
	padding: 0px 10px 0px 10px;
}
	#divPanel a { background-color: #F6F6F6; }
		#divPanel ul li ul li a { margin-top: -9px; }
	div.Encabezado { padding: 2px; }
		[data-id=imgIcono] {
			margin-right: 5px;
			vertical-align: middle;
		}
		div.Encabezado a[data-id=aMenu] { margin-top: -2px; }

#divAccesoPopup { padding: 10px; }
	#divAccesoPopup span {
		display: block;
		font-weight: bold;
	}


/* -------------------------------------------------------------------------- */

