/* -------------------------------------------------------------------------- */

.ui-page { background: transparent; color: white; }
.ui-content { background: transparent; }

/* Modificaciones a tags ---------------------------------------------------- */

* {
	margin: 0px;
	padding: 0px;
}

a {
	color: inherit;
	text-decoration: none;
}
ul { list-style: none; }
h4 {
	font-family: initial;
	margin-bottom: 10px;
}

body {
	background-attachment: scroll;
	background-color: #3a4f6d;
	background-image: url("../img/Fondo_AutopartesGaribaldi.png");
	background-position: center center;
	background-repeat: repeat-y;
	background-size: 100% 100%;
	color: white;
	/* font-size: 0.8em; */
	margin: auto;
	/* width: 1024px; */
}

table {
	background-color: rgb(188, 199, 216);
	color: black;
}
th, td { border: 1px solid gray; }
tbody tr:hover {
	background-color: #3399ff;
	color: white;
}

/* Utilidades --------------------------------------------------------------- */

.Forma {
	background-color: #3a4f6d;
	border: 1px solid;
	border-radius: 5px;
	height: 25%;
	left: 50%;
	margin-left: -25%;
	margin-top: -12%;
	padding: 5px;
	position: absolute;
	top: 50%;
	width: 50%;
}

span.Titulo {
	color: white;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 10px;
}

div.Pop {
	padding: 4px 2px;
	text-align: center;
}

body .boton {
	background-color: rgb(47, 63, 87);
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	font-weight: normal;
	padding: 2px 4px;
}
body .boton:hover {
	background-color: #55647A;
	color: white;
}
body .derecha {
	position: absolute;
	right: 10px;
}

th._Orden { background-color: orange; }
th._Asc::after { content: " ▴"; }
th._Desc::after { content: " ▾"; }

span.Error { color: red; }
div.Contenido { padding: 10px; }
div.Botones { height: 48px; }

div.ContenidoIz { float: left; }

#divPanel {
	background-color: #3a4f6d;
	padding: 0px 10px 0px 10px;
}
	#divPanel a { background-color: #F6F6F6; }
		#divPanel ul li ul li a { margin-top: -9px; }
	div.Encabezado { padding: 2px; }
		[data-id=imgIcono] {
			margin-right: 5px;
			vertical-align: middle;
		}
		div.Encabezado a[data-id=aMenu] { margin-top: -2px; }

#divAccesoPopup { padding: 10px; }
	#divAccesoPopup span {
		display: block;
		font-weight: bold;
	}


/* Para el teclado numérico ------------------------------------------------- */

div.TecladoNumerico {
	background-color: #3a4f6d;
	color: white;
	font-size: 20px;
	text-align: center;
	/* width: 100%;
	height: 100%;
	*/
}
	div.TecladoNumerico a {
		border: 1px solid;
		color: white;
		display: inline-block;
		height: 34px;
		margin-bottom: -1px;
		margin-right: -7px;
		padding-top: 6px;
		width: 40px;
	}
	div.TecladoNumerico a:hover {
		background-color: black;
		color: white;
	}
		div.TecladoNumerico a.borrar { width: 122px; }

