<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ControlRefaccionariaEntities" connectionString="metadata=res://*/Datos.Theos.csdl|res://*/Datos.Theos.ssdl|res://*/Datos.Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SqlExpress;Initial Catalog=ControlRefaccionaria;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>