<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="ServicioWeb.General" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ServicioWeb.General" behaviorConfiguration="AjaxBehavior" />
      </service>
      <service name="ServicioWeb.Traspasos" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ServicioWeb.Traspasos" behaviorConfiguration="AjaxBehavior" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>        
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <connectionStrings>
    <add name="ControlRefaccionariaEntities" connectionString="metadata=res://*/ControlRefaccionaria.csdl|res://*/ControlRefaccionaria.ssdl|res://*/ControlRefaccionaria.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=D-PC\SqlExpress;Initial Catalog=ControlRefaccionaria;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TheosProd" connectionString="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=garibaldi.dyndns-server.com;Initial Catalog=ControlRefaccionariaTest;Integrated Security=False;User Id=sa;Password=pass.word1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TheosPruebas" connectionString="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=garibaldi.dyndns-server.com;Initial Catalog=ControlRefaccionariaTest;Integrated Security=False;User Id=sa;Password=pass.word1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TheosDesarrollo" connectionString="metadata=res://*/Theos.csdl|res://*/Theos.ssdl|res://*/Theos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=D-PC\SqlExpress;Initial Catalog=ControlRefaccionaria;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="Modo" value="Desarrollo" />
  </appSettings>
  
</configuration>